* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

/*and of CSS reset*/

body {
    background-color: #FFEEDF;
    font-family: 'Montserrat', sans-serif;
}

button {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 240px;
    height: 240px;
    background-color: #1C5A4E;
    border-radius: 120px;
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #FFEEDF;
    line-height: 0;
    padding-bottom: 10%;
}

#root {
    height: 100vh;
} 
